<h1>VERIFY</h1>

<form  id = "verify" action="/users/verify" method="POST">
    <input type="email" id="email" name="email" placeholder = "Email" required>
    <br>
    <input type="text" id="verify_code" name="verify_code" placeholder = "Verification Code" required>
    <br>
    <input type="submit" value="Verify">
    <br>
</form>