body{
    background-image: url("../images/abstract.jpg");
   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

/**************************************/

.login-card{
    border: 1px solid white;
    text-align: center;
    border-radius: 26px;
    width:85%;
    margin-left: 5%;
    margin-right: 5%;
    height:415px;
    /* background-color: rgb(255, 255, 255); */
    vertical-align: middle;
    
}

/**************************************/
.login-form-container{
    display: inline-block;
    vertical-align: middle;
    border:2px solid rgb(0, 165, 36);
    border-radius: 26px;
 background-color: rgb(181, 201, 219);
 opacity: 1;
   width:25%;
   height: 415px;
   margin-left: 0;

}

/**************************************/

.input-link{
    text-decoration: none;
    color:rgb(102, 102, 102);

}

.input-link:hover{
    color: rgb(0, 145, 255);
}






/**************************************/
.input-box{
    padding: 16px 16px;
    margin: 10%;
    border-radius: 22px;
    border: 3px solid rgb(99, 99, 99);
    
}

.input-box:focus{
    outline:none;
    border: 3px solid rgb(0, 191, 255);
    background-color: rgb(232, 250, 255);

}

.input-box:hover{
    outline:none;
    border: 3px solid rgb(0, 191, 255);
    background-color: rgb(232, 250, 255);
    
}


/**************************************/
.input-button{
    padding:16px 56px;
    border-radius: 26px;
    border: 3px solid rgb(99, 99, 99);
    margin: 10%;
}

.input-button:hover{
    padding:16px 56px;
    border-radius: 26px;
    
    outline:none;
    border: 3px solid rgb(0, 191, 255);
    background-color: rgb(232, 250, 255);
    cursor: pointer;
}

